@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {    
--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--Very-dark-blue: hsl(212, 21%, 14%);
--Very-dark-green: hsl(212, 21%, 23%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body{
    min-height: 100vh;
    font-family: "montserrat", sans-serif;
    font-size: .875rem;
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    background-color: var(--White);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.part2 {
    padding: 2em; 
}

.part2 .paraheading {
    margin-bottom: .5em;
    font-variant: small-caps;
    letter-spacing: 5px;
}

.part2 h1{
    margin: .5em 0;
    font-family: "fraunces", serif;
    font-size: 2rem;
} 

.part2 .paragraph{
     line-height: 1.5;
     margin-bottom: .8em;
     color: var(--Dark-grayish-blue);
}

.price-tag {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1.5em;
}

.discount-amount {
    font-size: 2rem;
    color: var(--Dark-cyan);
    font-family: "fraunces";
}

.amount {
    margin-top: .7em;
    color: var(--Dark-grayish-blue);
    font-size: 0.625rem;
}

button.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: var(--Dark-cyan);
    color: var(--White);
    border: none;
    padding: .75em 0;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

button.icon:hover {
    background-color: var(--Very-dark-green );
}


@media  only screen and (min-width: 616px){
    .card {
        display: flex;
        max-width: 530px;
    }

    .box {
        width: 50%;
    }

    .part2 {
        height: 100%;
    }
} 